{
  "service": {
    "id": "jenkins-server",
    "name": "jenkins-server",
    "tags": ["jenkins", "master"],
    "port": 8080,
    "checks": [
      {
        "id": "tcp",
        "name": "TCP on port 8080",
        "tcp": "172.17.0.1:8080",
        "interval": "10s",
        "timeout": "1s"
      },
      {
        "id": "service",
        "name": "docker service",
        "args": ["systemctl", "status", "docker.service"],
        "interval": "60s"
      }
    ]
  }
}