{
  "service": {
    "id": "logstash",
    "name": "logstash",
    "tags": ["logstash"],
    "port": 5044,
    "checks": [
      {
        "id": "tcp",
        "name": "TCP on port 5044",
        "tcp": "localhost:5044",
        "interval": "10s",
        "timeout": "1s"
      },
      {
        "id": "service",
        "name": "logstash service test",
        "args": ["systemctl", "status", "logstash.service"],
        "interval": "60s"
      }
    ]
  }
}